<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salud para Todos S.A.S</title>
    <link rel="stylesheet" href="/css/estilos.css" type="text/css"/>
</head>
<body>
    <header>      
        <%- include('menu') %>
    </header>
    <h2 id="first_title">
        Registrate
    </h2>
    <section id = "formularios">
        <div class="form_card">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
            </svg>
            <h2>Formulario Pacientes</h2>
            <form id = "patientForm" action="/guardarPaciente" method="POST">     
                <label for="nombre">Nombre:</label>
                <input type="text" name = "nombre" id="patientName"><br>
        
                <label for="lastName">Apellido:</label>
                <input type="text" name = "lastName" id="patientLastName"><br>
        
                <label for="cedula">Número de cédula:</label>
                <input type="number" name = "cedula" id="patientCedula"><br>
        
                <label for="edad">Edad:</label>
                <input type="number" name = "edad" id="patientAge"><br>
        
                <label for="telefono">Teléfono de contacto:</label>
                <input type="number" name="telefono" id="patientPhone"><br>
    
                <button type="submit" id="send_patient">!Guardar!</button> 
                <button type="reset" id="clear_patient">Borrar</button> 
            </form>
        </div>
    </section>
</body>
<script src="/js/forms.js"></script>
</html>