<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salud para Todos S.A.S</title>
    <link rel="stylesheet" href="/css/estilos.css" type="text/css"/>
</head>
<body>
    <header>      
        <%- include('menu') %>
    </header>
    <h2 id="first_title">
        Formulario Doctores
    </h2>
    <section id = "formularios">
        <div class="form_card">
            <form id = "doctorForm" action="/guardarDoctor" method="POST">
                <label for="nombre">Nombre:</label>
                <input type="text" name = "nombre" id="doctorName"><br>
        
                <label for="lastName">Apellido:</label>
                <input type="text" name = "lastName" id="doctorLastName"><br>
                
                <label for="especialidad">Especialidad:</label>
                <select name="especialidad" id="doctorSpecialty">
                    <option value="Medicina General">Medicina General</option>
                    <option value="Cardiología">Cardiología</option>
                    <option value="Medicina Interna">Medicina Interna</option>
                    <option value="Dermatología">Dermatología</option>
                    <option value="Rehabilitación Física">Rehabilitación física</option>
                    <option value="Psicología">Psicología</option>
                    <option value="Odontología">Odontología</option>
                    <option value="Radiología">Radiología</option>
                </select><br>
        
                <label for="consultorio">Consultorio:</label>
                <input type="number" name="consultorio" id="doctorOffice"><br>
                
                <label for="correo">Correo de contacto:</label>
                <input type="email" name="correo" id="doctorEmail"><br>
        
                <button type="submit" id="send_doctor">!Guardar!</button>
                <button type="reset" id="clear_doctor">Borrar</button>  
            </form>
        </div>
    </section>
</body>
<script src="/js/forms.js"></script>
</html>