<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salud para Todos S.A.S</title>
    <link rel="stylesheet" href="/css/estilos.css" type="text/css"/>
</head>
<body>
    <header>      
        <%- include('menu') %>
    </header>
    <h2 id="first_title">
        Registrate
    </h2>
    <section id = "botones">
        <button type="button" id="crear_paciente"><a href="/crearPaciente">Crear Paciente</a></button>
        <button type="button" id="crear_doctor"><a href="/crearDoctor">Crear Doctor</a></button>
        <button type="button" id="crear_cita"><a href="/crearCita">Crear Cita</a></button>
    </section>
</body>
<script src="/js/forms.js"></script>
</html>