<section id="titulo">
    <ul class="nav justify-content">
      <li class="nav-item"><a href="/">Inicio</a></li>
      <li class="nav-item"><a href="/listaPacientes">Pacientes</a></li>
      <li class="nav-item"><a href="/listaDoctores">Doctores</a></li>
      <li class="nav-item"><a href="/listaCitas">Citas</a></li>
    </ul>
</section>
