/*Estilo general*/
html {
    scroll-behavior: smooth;
    font-family: 'Calibri';
}
body{
    margin: 0px;
    background-color: #EAD6E8;
}
/*Encabezado*/
#titulo{
    background-color: white;
}
#titulo ul{
    list-style-type: none;
    text-align: right;
    font-size: 25px;
    padding: 15px;
    margin: 0
}
#titulo li{
    display: inline;
    text-align: center;
    margin: 0px 20px;
 } 
#titulo a{
    color: #03353B; 
    text-decoration: none; 
}

/*EStilos pagina Inicio*/
#botones{
    margin: 60px auto;
    width: 670px;
}

.button_card{
    margin: 5px;
    background-color: white;
    text-align: center;
    color: #03353B;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    padding: 30px;
    width: 150px;   
}
button{
    font-family: 'Calibri';
    padding: 8px 24px;
    margin-top: 20px;
    background-color: #03353B;
    color: white;
    font-weight: bold;
    border: 2px solid #03353B;
}
button a{
    color: white; 
    text-decoration: none;
    font-size: 15px;    
}
section div{
    display: inline-block;
}
/*Estilo pagina de formularios*/
h2{
    text-align: center;
    color: #03353B;  
    font-size: 50px  
}
#formularios{
    margin: auto;
    width: 450px;
}
.form_card{
    margin: 0px 15px;
    background-color: white;
    text-align: center;
    color: #03353B;
    font-size: 20px;
    font-weight: 900;
    border-radius: 5px;
    padding: 24px;   
}
/*Estilos de tablas*/
#tabla_doctores,#tabla_pacientes, #tabla_citas{
    width: 1050px;
    margin: 0px auto 50px;
    text-align: center;
    border: 1px solid #03353B;
    background-color:white;
    color: #03353B;
    font-size: 25px;
}
thead{
    background-color: #03353B;
    color:white;
}

#datos_doctores, #datos_pacientes, #datos_citas{
    font-size: 16px;
}




